# Hidden Files
.*
!.clang-format
!.clang-tidy
!.gitattributes
!.gitignore

# Build Files
/build/

# Install Files
/bin/
/lib/
/res/tzdata/
/include/ice/config.h

# Application
/*.core
/*.log
/core

# Private
/src/ssh.cpp
